.wrap-in {
	margin: 0 auto;
	width: 100%;
	max-width: 1110px;
}

.nav {
	.nav__wrapper {
		display: flex;
		padding-top: 6em;
		padding-bottom: 6em;
	}
	.nav_items-logo {
		background-image: url(../img/logoLG.png);
		background-size: cover;
	}
}
