.container {
	margin: 0 auto;
	width: 100%;
	max-width: 1110px;
}
.pageshadow {
	position: fixed;
	display: none;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background: linear-gradient(
		0deg,
		rgba(0, 0, 0, 0.7) 0%,
		rgba(255, 255, 255, 0) 100%
	);
	z-index: 2;
	transition: opacity 0.3s;
}
.pageshadow-active {
	display: block;
}

.nav {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 100;
	transition: background-color 0.3s;
	&--scroll {
		background-color: white;
	}
	&__mobile {
		position: fixed;
		display: none;
		top: 240px;
		left: 50vw;
		width: 80%;
		transform: translate(-50%, -50%);
		padding: 4em;
		background-color: $bgcolor;
		transition: opacity 0.5s;
		border-radius: 8px;
		box-shadow: 0px 4px 4px rgba(66, 68, 90, 0.25);
		z-index: 10;

		&-items {
			display: flex;
			flex-direction: column;
			gap: 30px;
			margin: 0 auto;
			&-link {
				text-align: center;
				font-size: 16px;
				font-weight: 600;
				width: 100%;
				text-decoration: none;
				color: $txtcolor;
			}
		}
	}
	.--active {
		display: flex;
	}

	&__items {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 3em 2.5em 1em 2.5em;

		.hamburger {
			&-inner,
			&-inner::before,
			&-inner::after {
				background-color: $txtcolor;
			}
			z-index: 10;
		}

		&-links {
			display: none;
			gap: 30px;

			&-link {
				font-weight: 500;
				font-size: 13px;
				text-decoration: none;
				color: $txtcolor;
				transition: opacity 0.1s;
				text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

				&::after {
					width: 100%;
					height: 100%;
					background-color: #fff;
				}

				&:hover {
					opacity: 0.7;
				}
			}
		}

		&-btn {
			display: none;
			padding: 1em 2.5em;
			border: none;
			color: white;
			font-weight: 600;
			border-radius: 20px;
			background-color: $secondary-color;
			transition: opacity 0.1s;
			box-shadow: 0px 4px 4px rgba(66, 68, 90, 0.25);
			cursor: pointer;
			&:hover {
				opacity: 0.7;
			}
		}
	}
}

@media (min-width: 768px) {
	.nav {
		.hamburger {
			display: none;
		}
		&__items {
			padding: 5em 1em 4em 1em;
			&-logo {
				margin-bottom: -10px;
			}
			&-links {
				display: flex;
			}

			&-btn {
				display: block;
			}
		}
	}
}
