@import './colors';
@import './nav';
@import './header';
@import './highlights';
*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
}
body {
	font-family: 'Be Vietnam Pro', sans-serif;
}
.wrapper {
	overflow: hidden;
	position: relative;
	margin: 0 auto;
	width: 100%;
	max-width: 1920px;
}
.pill-one {
	position: absolute;
	top: 0px;
	right: 0px;
	width: 542px;
	height: 244px;
	transform: rotatez(-45deg) translate(25%, 50%);
	background-color: $pillbg;
	border-radius: 244px;
	z-index: -10;
}

@media (min-width: 768px) {
	.pill-one {
		top: -50px;
		right: -500px;
		width: 1100px;
		height: 300px;
		transform: rotatez(-45deg);
	}
}
@media (min-width: 1200px) {
	.pill-one {
		top: -100px;
		right: -260px;
		width: 1300px;
		height: 436px;
		transform: rotatez(-45deg);
	}
}
